* {
    font-family: 'Caveat', cursive;
}
body {
    background-image: url(../images/recipesbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 10px 10px 25px black;
    margin: auto;
    width: 80%;
}

#main-menu {
    font-size: 24px;
}

h1{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

#main-menu li {
    list-style: none;
}

a {
    color:black;
}

a:hover {
    color: rgb(129, 129, 129);
}

a:link, a:visited, a:active {
    text-decoration: none;
}

table {
    margin: auto;
    font-size: 24px;
}

img {
    border-color: black;
    border-style: solid;
    border-width: 4px;
}
caption {
    padding: 0;
    margin: 0;
}

#Information h2{
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
    margin-left: 50px;
}

p, li {
    font-size: 24px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: justify;
}
#footer p{
    background-color: rgb(204, 135, 4);
    font-size: 24px;
    margin: -24px auto auto auto;
    text-align: center;
    text-decoration: underline;
    width: 80%;
}

.creditsp {
    margin-top: 5px;
    padding-bottom: 15px;
}

#imagewh {
    width: 500px;
    height: auto;
}

hr {
    border: 4px dashed black;
    border-top: 0;
    margin: auto;
    width: 90%;
    }