* {
    font-family: 'Caveat', cursive;
}
body {
    background-image: url(../images/recipesbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

section ul, 
section ol {
    font-size: 24px;
    padding-left: 90px ;
    padding-right: 60px;
    text-align: justify;
}

main{
    float: left;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 10px 10px 25px black;
    margin-left: 17.5vw;
    width: 80%;
}

#main-menu {
    margin: 21vh 0 0 1vw;
    padding: 0;
    font-size: 24px;
}

h1{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

#main-menu li {
    list-style: none;
}

a {
    color: #efefe3;
}
#links a {
    color: black;
}

a:hover,
#links a:hover  {
    color: rgb(129, 129, 129);
}

a:link, a:visited, a:active {
    text-decoration: none;
}

table {
    margin: auto;
    font-size: 24px;
}

img {
    border-color: black;
    border-style: solid;
    border-width: 4px;
}
caption {
    padding: 0;
    margin: 0;
}

#Information h2{
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
    margin-left: 50px;
}

p {
    font-size: 24px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: justify;
}
#footer p{
    background-color: rgb(204, 135, 4);
    font-size: 24px;
    margin: 0 auto auto 17.5vw;
    padding: 15px 0 10px;
    text-align: center;
    text-decoration: underline;
    width: 80%;
}

.creditsp {
    margin-top: 5px;
    padding-bottom: 15px;
}

#imagewh {
    width: 500px;
    height: auto;
}

hr {
    border: 4px dashed black;
    border-top: 0;
    margin: auto;
    width: 90%;
}
body > aside {
    float: left;
    width: 15%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #edc180ee;
    position: fixed;
    box-shadow: 1px 1px 4px #efefe3;
}
#clearfix {
    clear: both;
    float: none;
}
