body {
    background-image: url(./images/indexbg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.prueba1, .prueba2 {
    width: 50%;
    float: left;
}

.prueba1 {
    padding-top: 225px;
}

.prueba2 {
    padding-top: 305px;
}

h1{
    background-color: goldenrod;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 70px; 
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    width: fit-content;
    margin-left: 29%;
    border-radius: 48%;
    padding: 25px;
}

ul {
    margin-left: 75px;
}

li {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin-bottom: 25px;
    list-style: none;
}

a {
    color: #b38c50;
}
*, a:hover {
    color: white;
}